@model IQueryable<Book>

@{
    ViewData["Title"] = "All Books";
}

<h1 class="text-center my-5">Our Current Collection of WebDev Books</h1>

@foreach(var book in Model) {
    <div>
        <h3>
            <a asp-controller="Books" asp-action="ViewBook" asp-route-id="@book.BookId" class="text-decoration-none">@book.BookTitle</a>
        </h3>

        <p>
            @book.Price.ToString("C")
        </p>

        <p class="small">
            Written by @book.Author <br />
            Added to collection on @book.DateAdded.ToShortDateString()
        </p>

        <p>
            Rating stars
            @for(int i = 1; i <= 5; i++) {
                if(i <= @book.Rating){
                    <span>i</span>
                    continue;
                }
                <span>o</span>
            }
        </p>

    </div>
}