@model IQueryable<Book>

@{
    ViewData["Title"] = "Home";
}

<div class="jumbotron bg-primary d-flex align-items-center justify-content-center rounded" id="PageHeader">
    <div class="text-center text-light ">
        <h1 class="display-4 font-weight-bold">Web Development Book Store</h1>
        <p class="lead">Shop online at the WebDev Book Store for amazing discounts on bestselling web development books!</p>
    </div>
</div>

<!-- Books-->
<div class="bg-light mt-4" id="Books">

    <h1 class="text-center">New releases</h1>

    <!-- Display the three most recently added books here -->
    @foreach(var book in Model) {
        <div>
            <h3>
                <a asp-controller="Books" asp-action="ViewBook" class="text-decoration-none">@book.BookTitle</a>
            </h3>

            <p>
                @book.Price.ToString("C")
            </p>

            <p class="small">
                Written by @book.Author <br />
                Added to collection on @book.DateAdded.ToShortDateString()
            </p>

            <p>
                Rating stars
                @for(int i = 1; i <= 5; i++) {
                    if(i <= @book.Rating){
                        <span>i</span>
                        continue;
                    }
                    <span>o</span>
                }
            </p>

            <hr />
        </div>
    }
</div>

<div class="text-end">
    <a asp-controller="Books" asp-action="AllBooks" class="btn btn-primary">View all books &rarr;</a>
</div>

<!-- Resources -->
<div id="Resources">
    <h1 class="text-center">Our Favourite Books</h1>
    <p>Section still under construction ...</p>
</div>
